* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}

.wysiwyg-wrapper h1 {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 32px;
}

.wysiwyg-wrapper h2 {
  font-weight: 500;
  font-size: 40px;
  color: #9f7303;
  margin-bottom: 56px;
}

.wysiwyg-wrapper h3 {
  color: #9f7303;
  margin-top: 88px;
  margin-bottom: 34px;
}

.gold {
  color: #9f7303;
  margin-top: 56px;
  margin-bottom: 18px;
}

.wysiwyg-wrapper ul {
  margin-top: 32px;
  margin-bottom: 56px;
  list-style-image: url(img/Rectangle\ 3.svg);
}

.wysiwyg-wrapper li:not(:last-child) {
  margin-bottom: 8px;
}

.wysiwyg-wrapper div {
  margin-bottom: 83px;
}

.wysiwyg-wrapper cite {
  font-style: italic;
  color: #9f7303;
}
