* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  background: #e5e5e5;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  padding: 0 165px;
}

/* main-section */

.main-section .wrapper {
  background-color: #fffdf8;
  padding-top: 72px;
  padding-bottom: 114px;
}

.wysiwyg__wrapper h1 {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 32px;
}

.wysiwyg__wrapper h2 {
  font-weight: 500;
  font-size: 40px;
  color: #9f7303;
  margin-bottom: 56px;
}

.wysiwyg__wrapper h3 {
  color: #9f7303;
  margin-top: 88px;
  margin-bottom: 34px;
}

.gold {
  color: #9f7303;
  margin-top: 56px;
  margin-bottom: 18px;
}

.gold:last-child {
  margin-bottom: 0;
}

.wysiwyg__wrapper ul {
  margin-top: 32px;
  margin-bottom: 56px;
  list-style-image: url("img/rectangle.svg");
}

.wysiwyg__wrapper li:not(:last-child) {
  margin-bottom: 8px;
}

.wysiwyg__wrapper .column {
  margin-bottom: 32px;
}

.wysiwyg__wrapper .gold:last-child {
  font-style: italic;
}

/* reviews-section */

.reviews-section .wrapper {
  background-color: #f4efe2;
  padding-top: 56px;
  padding-bottom: 88px;
}

.review {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: auto auto;
  column-gap: 25px;
  margin-bottom: 32px;
}

.review__image-wrapper {
  width: 50px;
  height: 50px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.review__image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  text-indent: -100vw;
}

.review__name {
  grid-column: 2 / 3;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.review__text {
  grid-column: 2 / 3;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
