.wrapper {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}

.wysiwyg-wrapper h1 {
  font-weight: 500;
  font-size: 48px;
}

.wysiwyg-wrapper h2 {
  font-weight: 500;
  font-size: 40px;
  color: #9f7303;
}

.slogan {
  color: #9f7303;
}

.wysiwyg-wrapper h3 {
  color: #9f7303;
}

.wysiwyg-wrapper cite {
  font-style: italic;
  color: #9f7303;
}
